# Default values for logging-operator-logging.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Reference name of the logging deployment
loggingRef: ""
# Disable configuration check before deploy
flowConfigCheckDisabled: false
# Use static configuration instead of generated config.
flowConfigOverride:	""

nameOverride: ""
fullnameOverride: ""

# If an immutable field is changed, delete the existing resource
# and recreate it with the new configuration.
enableRecreateWorkloadOnImmutableFieldChange: false

# Fluent-bit configurations https://banzaicloud.com/docs/one-eye/logging-operator/configuration/crds/v1beta1/fluentbit_types/
fluentbit: {}

#Node agent Definition
nodeAgents: {}
#  - name: win-agent
#    profile: windows
#    nodeAgentFluentbit:
#      daemonSet:
#        spec:
#          template:
#            spec:
#              containers:
#              - image: banzaicloud/fluentbit:1.9.3
#                name: fluent-bit
#      tls:
#        enabled: false
#  - name: linux-agent
#    profile: linux
#    nodeAgentFluentbit:
#      metrics:
#        prometheusAnnotations: true
#        serviceMonitor: false
#      tls:
#        enabled: false


# Fluentd configurations https://banzaicloud.com/docs/one-eye/logging-operator/configuration/crds/v1beta1/fluentd_types/
fluentd: {}
# 20Gi persistent storage is configured for fluentd by default.
# Here is an example, on how to override it:
#  bufferStorageVolume:
#    pvc:
#      spec:
#        accessModes:
#          - ReadWriteOnce
#        resources:
#          requests:
#            storage: 40Gi

# Enable secure connection between fluentd and fluent-bit
tls:
  enabled: true
  # Shared key for fluentd authentication
  sharedKey: ""
  fluentbitSecretName: ""
  fluentdSecretName: ""

# Limit namespaces from where to read Flow and Output specs
watchNamespaces: []
# Control namespace that contains ClusterOutput and ClusterFlow resources
controlNamespace: ""
# Allow configuration of cluster resources from any namespace
allowClusterResourcesFromAllNamespaces: false

# defaultFlow
defaultFlow: {}

# defaultFlow
globalFilters: []

# ClusterFlows to deploy
clusterFlows: []

# ClusterOutputs to deploy
clusterOutputs: []

# Send all pod logs to kafka
# clusterFlows:
#   - name: all-pods
#     spec:
#       globalOutputRefs:
#         - kafka
# clusterOutputs:
#   - name: kafka
#     spec:
#       kafka:
#         brokers: kafka-headless.kafka.svc.cluster.local:29092
#         format:
#           type: json
#         default_topic: topic


# EventTailer config
eventTailer: {}
  # name: sample
  # pvc:
  #   accessModes:
  #     - ReadWriteOnce
  #   volumeMode: Filesystem
  #   storage: 1G

# HostTailer config
hostTailer: {}
  # name: sample
  # fileTailers:
  #   - name: sample-file
  #     path: /var/log/sample-file
  #     disabled: false
  # systemdTailers:
  #   - name: system-sample
  #     disabled: false
  #     maxEntries: 20
  #     systemdFilter: kubelet.service
