{{- if and $.Values.logging.enabled $.Values.logging.eventTailer.enabled }}
{{- with $.Values.logging.eventTailer }}
apiVersion: logging-extensions.banzaicloud.io/v1alpha1
kind: EventTailer
metadata:
  name: {{ .name }}
spec:
  controlNamespace: {{ $.Values.logging.controlNamespace | default $.Release.Namespace }}
  {{- if or .image.repository .image.tag .image.pullPolicy .image.imagePullSecrets }}
  image:
    {{- with .image.repository }}
    repository: {{ . }}
    {{- end }}
    {{- with .image.tag }}
    tag: {{ . | quote }}
    {{- end }}
    {{- with .image.pullPolicy }}
    pullPolicy: {{ . }}
    {{- end }}
    {{- with .image.imagePullSecrets }}
    imagePullSecrets: {{- toYaml . | nindent 6 }}
    {{- end }}
  {{- end }}
  {{- with .pvc }}
  {{- if .enabled }}
  positionVolume:
    pvc:
      spec:
        {{- with .accessModes }}
        accessModes: {{- toYaml . | nindent 10 }}
        {{- end }}
        resources:
          requests:
            storage: {{ .storage }}
        volumeMode: {{ .volumeMode }}
        {{- with .storageClassName }}
        storageClassName: {{ . }}
        {{- end }}
  {{- end }}
  {{- end }}
  {{- with .workloadMetaOverrides }}
  workloadMetaOverrides:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .workloadOverrides }}
  workloadOverrides:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .containerOverrides }}
  containerOverrides:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
