# Default values for logging-operator-logging.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Reference name of the logging deployment
loggingRef: ""
# Disable configuration check before deploy
flowConfigCheckDisabled: false
# Use static configuration instead of generated config.
flowConfigOverride: ""

nameOverride: ""
fullnameOverride: ""

# -- Permit deletion and recreation of resources on update of immutable field.
enableRecreateWorkloadOnImmutableFieldChange: false

tls:
  # -- Enable secure connection between fluentd and fluent-bit
  enabled: true

  # -- Specified secret name, which contain tls certs
  fluentdSecretName: ""

  # -- Specified secret name, which contain tls certs
  fluentbitSecretName: ""

  # Shared key between nodes (fluentd-fluentbit)
  sharedKey: ""

# -- Fluent-bit configurations https://banzaicloud.com/docs/one-eye/logging-operator/configuration/crds/v1beta1/fluentbit_types/
fluentbit: {}

# -- Fluentd configurations https://banzaicloud.com/docs/one-eye/logging-operator/configuration/crds/v1beta1/fluentd_types/
fluentd: {}
# 20Gi persistent storage is configured for fluentd by default.
# Here is an example, on how to override it:
#  bufferStorageVolume:
#    pvc:
#      spec:
#        accessModes:
#          - ReadWriteOnce
#        resources:
#          requests:
#            storage: 40Gi

# -- Node agents definitions
nodeAgents: {}
#  - name: win-agent
#    profile: windows
#    nodeAgentFluentbit:
#      daemonSet:
#        spec:
#          template:
#            spec:
#              containers:
#              - image: banzaicloud/fluentbit:1.9.5
#                name: fluent-bit
#      tls:
#        enabled: false
#  - name: linux-agent
#    profile: linux
#    nodeAgentFluentbit:
#      metrics:
#        prometheusAnnotations: true
#        serviceMonitor: false
#      tls:
#        enabled: false

# -- Whether to skip invalid Flow and ClusterFlow resources
skipInvalidResources: false

# -- Limit namespaces from where to read Flow and Output specs
watchNamespaces: []

# -- Cluster domain name to be used when templating URLs to services
clusterDomain: "cluster.local"

# -- Control namespace that contains ClusterOutput and ClusterFlow resources
controlNamespace: ""

# -- Allow configuration of cluster resources from any namespace
allowClusterResourcesFromAllNamespaces: false

# -- Default flow
defaultFlow: {}

# -- Global filters
globalFilters: []

# -- ClusterFlows to deploy
clusterFlows: []

# -- ClusterOutputs to deploy
clusterOutputs: []

# Send all pod logs to kafka
# clusterFlows:
#   - name: all-pods
#     spec:
#       globalOutputRefs:
#         - kafka
# clusterOutputs:
#   - name: kafka
#     spec:
#       kafka:
#         brokers: kafka-headless.kafka.svc.cluster.local:29092
#         format:
#           type: json
#         default_topic: topic

# -- EventTailer config
eventTailer: {}
  # name: sample
  # pvc:
  #   accessModes:
  #     - ReadWriteOnce
  #   volumeMode: Filesystem
  #   storage: 1Gi
  #   storageClassName: standard

# -- HostTailer config
hostTailer: {}
  # name: sample
  # fileTailers:
  #   - name: sample-file
  #     path: /var/log/sample-file
  #     disabled: false
  # systemdTailers:
  #   - name: system-sample
  #     disabled: false
  #     maxEntries: 20
  #     systemdFilter: kubelet.service

# SecurityContextConstraints Roles and RoleBindings for a deployment in OpenShift
scc:
  # -- OpenShift SecurityContextConstraints enabled
  enabled: false
