{{- if .Values.rbac.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "logging-operator.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "logging-operator.name" . }}
    helm.sh/chart: {{ include "logging-operator.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: {{ template "logging-operator.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "logging-operator.name" . }}
    helm.sh/chart: {{ include "logging-operator.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
rules:
  - apiGroups:
      - logging.banzaicloud.com
    resources:
      - loggings
      - flows
      - clusterflows
      - outputs
      - clusteroutputs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - logging.banzaicloud.com
    resources:
      - loggings/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - ""
      - apps
      - batch
      - extensions
      - policy
      - rbac.authorization.k8s.io
    resources:
      - namespaces
      - nodes
      - persistentvolumeclaims
      - pods
      - services
      - resourcequotas
      - replicationcontrollers
      - limitranges
      - persistentvolumeclaims
      - persistentvolumes
      - endpoints
      - secrets
      - configmaps
      - serviceaccounts
      - roles
      - rolebindings
      - clusterroles
      - clusterrolebindings
      - daemonsets
      - deployments
      - replicasets
      - statefulsets
      - jobs
    verbs:
      - "*"
  {{- if .Values.rbac.psp.enabled }}
- apiGroups:
    - extensions
  resources:
    - podsecuritypolicies
  resourceNames:
    - psp.logging-operator
  verbs:
    - use
  {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: {{ template "logging-operator.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "logging-operator.name" . }}
    helm.sh/chart: {{ include "logging-operator.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
subjects:
  - kind: ServiceAccount
    name: {{ template "logging-operator.fullname" . }}
    namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "logging-operator.fullname" . }}

  {{- end }}