apiVersion: logging.banzaicloud.io/v1beta1
kind: Logging
metadata:
  name: defaultlogging
spec:
  fluentd:
    disablePvc: true
  fluentbit: {}
  controlNamespace: default
  watchNamespaceSelector:
    matchLabels:
      a: b
