
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.0
  creationTimestamp: null
  name: syslogngagents.logging.banzaicloud.io
spec:
  group: logging.banzaicloud.io
  names:
    categories:
    - logging-all
    kind: SyslogNGAgent
    listKind: SyslogNGAgentList
    plural: syslogngagents
    singular: syslogngagent
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              disabled:
                type: boolean
            type: object
          status:
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
