name: E2E tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18.3
      - name: Set up kubectl
        uses: azure/setup-kubectl@v1
        with:
          version: v1.21.2
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run e2e tests
        run: make test-e2e
