name: Build and publish node-exporter image

on:
  push:
    tags:
      - node-exporter-v[0-9]+.[0-9]+.[0-9]+*

env:
  PLATFORMS: linux/amd64,linux/arm64,linux/arm/v7

jobs:
  docker:
    name: Build and publish node-exporter Docker image to the GitHub Container Registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.ref }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Determine image tag
        id: imagetag
        run: echo "::set-output name=value::$(echo ${GITHUB_REF##*/} | sed 's/node-exporter-//g')"
        env:
          GITHUB_REF: ${{ github.ref }}
      - name: Build and push image
        uses: docker/build-push-action@v2
        with:
          context: node-exporter-image/
          tags: ghcr.io/banzaicloud/node-exporter:${{ steps.imagetag.outputs.value }}
          file: node-exporter-image/Dockerfile
          platforms: ${{ env.PLATFORMS }}
          push: true
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
